.background {
    position: fixed;
    z-index: 980;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    opacity: 0.8;
}

.main {
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 990;
    width: 600px;
    height: 1000px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px blue;
    background-color: white;
    margin: 0 auto;
    top: 2%;
}

#img {
    right: 30%;
    position: fixed;
    margin: auto;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: white;
}